<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/weight-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Current Weight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="9.5">
        <ion-item>
          <ion-label position="stacked">Enter Current Weight</ion-label>
          <ion-input
            [(ngModel)]="curWeight"
            type="number"
            placeholder="140"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <input
          type="file"
          accept="image/*"
          id="file"
          (change)="readURL($event);"/><label for="file"
          ><ion-icon name="image" color="white"></ion-icon></label
      ></ion-col>
    </ion-row>
    <ion-row>
      <ion-img id="blah" [src]="imageSrc"></ion-img>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="danger" (click)="addWeight(curWeight)"
          >Update</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
