<ion-header>
  <ion-toolbar>
    <ion-title>Weight History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row>
      <ion-col text-end><h1 color="danger">{{curWeight}}</h1></ion-col>
      <ion-col size="2" margin-bottom><p class="lbs">lbs</p></ion-col>

      <ion-col text-center>
        <ion-icon (click)="addWeight()" name="add"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <canvas id="lineChart"></canvas>
  </div>
  <ion-list>
    <ion-list-header><ion-label>Weights</ion-label></ion-list-header>
    <ion-item *ngFor="let weights of weightList">
      <ion-label>
        <h2>Weight {{weights?.weight}}</h2>
        <p color="white">
          Date: <strong>{{weights?.date.toDate() | date: 'MM/dd/yyyy'}}</strong>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
