<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>previous-workouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h1 color="primary">Workouts</h1>
    <ion-card color="danger" *ngFor="let workout of workoutList">
      <ion-card-title color="white">
        Date: {{workout?.date.toDate() | date: 'MM/dd/yyyy'}}
      </ion-card-title>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>{{workout?.name}}</h1>
            </ion-col>
            <ion-col text-center>
              <ion-button (click)="viewDetails(workout?.id)" color="danger">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
