<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img class="logo" height="10" src="assets/nlc.png"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text color="primary">
    <h1 padding-start>{{userProfile?.firstName}}'s Dashboard</h1>
  </ion-text>
  <ion-grid>
    <ion-row padding-end padding-start>
      <ion-col>
        <ion-card class="workout">
          <ion-card-content text-center no-padding class="ion-card-content">
            <ion-text color="white">Workouts</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="workout">
          <ion-card-content text-center no-padding class="ion-card-content">
            <ion-item lines="none">
              <ion-button color="dark" (click)="viewWorkouts()"
                >Workout History</ion-button
              >
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row padding-end padding-start padding-bottom>
      <ion-col>
        <ion-card class="workout">
          <ion-card-content text-center padding-bottom="15px" padding-top>
            <ion-item lines="none" class="new"
              ><ion-icon
                slot="end"
                name="add"
                color="primary"
                (click)="addWorkout()"
              ></ion-icon>
              <h1>
                New Workout
              </h1>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding>
    <ion-row padding-end padding-start>
      <ion-col size="6">
        <ion-row class="space">
          <ion-card color="danger" class="card">
            <ion-card-content
              color="danger"
              text-center
              no-padding
              class="ion-card-content"
            >
              <ion-text>Weight</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row>
          <ion-card class="card" color="danger">
            <ion-card-content
              color="danger"
              text-center
              no-padding
              class="ion-card-content"
            >
              <ion-item lines="none" color="danger">
                <ion-button color="dark" (click)="weightList()"
                  >Weight History</ion-button
                >
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card1" color="danger">
          <ion-card-content
            color="danger"
            text-center
            no-padding
            class="ion-card-content"
          >
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-text class="curWeight"
                    >{{userProfile?.curWeight}}</ion-text
                  >
                  <ion-text>lbs</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button lines="none" color="danger" (click)="addWeight()"
                    ><ion-icon
                      slot="icon-only"
                      name="add"
                      color="primary"
                    ></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
