<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img class="logo" height="10" src="assets/nlc.png"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text color="primary">
    <h1 padding-start>{{userProfile?.firstName}}'s Dashboard</h1>
  </ion-text>
  <ion-card class="workout">
    <ion-card-header>
      <ion-card-title color="primary">Workouts</ion-card-title>
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-item lines="none">
        <ion-button size="full" color="danger" (click)="viewWorkouts()"
          >Previous Workouts</ion-button
        >
      </ion-item>
      <ion-item lines="none"
        ><ion-icon
          padding
          slot="end"
          name="add"
          color="primary"
          (click)="addWorkout()"
        ></ion-icon>
        <h1>
          New Workout
        </h1>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Weight</ion-card-title>
    </ion-card-header>
    <ion-card-content color="danger" no-padding>
      <ion-grid padding-leftg>
        <ion-row>
          <ion-col>
            <ion-text class="curWeight">{{userProfile?.curWeight}} </ion-text>
            <ion-text>lbs</ion-text>
          </ion-col>
          <ion-col>
            <ion-item lines="none" color="danger" (click)="addWeight()"
              ><ion-icon
                padding
                slot="start"
                name="add"
                color="primary"
              ></ion-icon>
              <h1>
                Update
              </h1>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none" color="danger">
              <ion-button size="full" color="dark" (click)="weightList()"
                >Weight History</ion-button
              >
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
